 <div class="split left">
     <div class="div-ne">
       <video autoplay loop muted>
         <source src="../assets/wave.mp4" type="video/mp4" />
       </video>
       <img src="../assets/note-log.png" alt="surfboard notes" />
     </div>
   </div> 

   <div class="split right">
  <form>
    <div class="centered">
      <div class="text">
        <b>Welcome Back!</b>
      </div>
      <div class="gap">
        <label>Email ID :</label>
        <input
          type="text"
          placeholder="Enter the Email ID"
          /> <br />
        <span
          class="text-danger"
          >*Email ID is Required</span
        >
      </div>
      <div class="gap">
        <label>Password:</label>
        <input
          type="password"
          placeholder="Enter the Password"
        /><br /><br />
        <input type="checkbox" onclick="myFunction()" />Show Password <br/>
        <span
			class="text-danger">
	</span>
      </div>
  <div class="gap" style="gap: 1rem; position: absolute;margin-top: 15rem;left: 5rem">
     <button>Sign In</button>
    <button type="submit">Sign Up</button>
  </div>
</div>
</form>
</div>
