<div class="parent">
  <div class="menu">
    <div class="logo_container">
      <div class="logo_style">
        <img class="logo" src="../assets/logo.png" alt="surfboard notes" />
        <p class="logo_text">Surfboard<br />Notes</p>
      </div>
      <div class="button">
        <button (click)="savedNote()" class="button1">Saved Notes</button>
        <button (click)="newNote()" class="button2">New Notes</button>
        <button class="button3">Private Notes</button>
      </div>
    </div>
  </div>

  <form [formGroup]="profileForm">
    <div *ngIf="addNote" class="page">
      <div class="text-field">
        <input type="text" required #notes formControlName="title" />
        <label>Title</label>
      </div>

      <div class="text-field">
        <textarea #data formControlName="body"></textarea>
        <select name="categries" id="language" (change)="update($event)">
          <option value="To-dos">To-dos</option>
          <option value="Sport">Sports</option>
          <option value="Notes">Notes</option>
          <option value="Recipes">Recipes</option>
          <option value="diet">diet</option>
          <option value="Personal-Details">Personal-Details</option>
        </select>
      </div>
      <div></div>
      <div class="summit">
        <button
          (click)="saveData()"
          type="submit"
          form="nameform"
          value="Submit"
        >
          Submit
        </button>
      </div>
    </div>
  </form>

  <div *ngIf="saveNote" class="scroll">
    <app-saved-notes></app-saved-notes>
  </div>
</div>
